* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.formatter {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.formatter__input {
    display: flex;
    flex: 2;
    height: 50%;
}

.formatter__output {
    display: flex;
    flex: 3;
    height: 50%;
}

.formatter__control {
    box-sizing: border-box;
    font-size: 500%;
    text-align: center;
    padding: 1%;
    background-color: #fff;
    border: 2px solid #fff;
    transition: border ease 0.15s;
    outline: none;
    min-width: 0;
}

.formatter__control:focus {
    border-color: #ff3304;
}

.formatter__control_name_number {
    width: 50%;
    flex: 3;
}

.formatter__control_name_separator {
	flex: 1;
	font-size: 250%;
	width: 100%;
}

.formatter__control_name_result {
    width: 100%;
    background-color: #fbfbfb;
}

.formatter__options {
	display: flex;
	flex-direction: column;
    width: 50%;
    flex: 2;
	justify-content: center;
}

.formatter__checkbox {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	font-size: 120%;
}

.formatter__checkbox input {
	margin-left: -3%;
}


@media (max-width: 470px) {
	.formatter__input {
		flex-direction: column;
		height: 50%;
		flex: 3;
	}

	.formatter__output {
		height: 50%;
		flex: 2;
	}

	.formatter__control_name_number {
		width: 100%;
		flex: 1;
	}

	.formatter__options {
		width: 100%;
		flex: 1;
	}
}


.copyright {
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    font-family: monospace;
    background-color: #fff;
    transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 100%;
    padding: 1em;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

.copyright:hover {
    opacity: 1;
    text-decoration: none;
}

.copyright__license {
}

.copyright__author {
    text-decoration: underline;
}

.copyright {
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background-clip: padding-box;
    z-index: 10;
}
